
.menu{
  overflow-y: hidden;
  width: 100%;
  height: 66px;
  background-color: black;
  text-align: left;
  position: fixed;
  z-index: 5;
 // display: none;
}

.menuButton{
  cursor: pointer;
  line-height: 66px;
  color: white;
  opacity: 1;
  margin-left: 10px;
  display: inline-block;
  height: 66px;
  font-weight: 500;
  font-family: "Trebuchet MS", serif;
  font-size: 18px;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;

}
.menuButton:hover > .line{
  width: calc(100% + 20px);
  margin-left: calc(-10px);

}
.line{

  margin-top: -6px;
  background-color: white;
  height: 3px;
  width: 0;
  transition: 0.2s ease-out;
  margin-left: calc(50%);
}

.menuPhone{
  overflow-y: hidden;
  width: 100%;
  height: 66px;
  background-color: black;
  text-align: left;
  position: fixed;
  z-index: 5;
  // display: none;
}
.menuTrigger{
  margin-left: 20px;
  margin-top: 9px;
  transition: 0.2s;
}
.rotate{
  transform: rotate(90deg);
}
.menuTarget{
  margin-top: 66px;
  margin-left: -100vw;
  z-index: 10;
  width: 100vw;
  height: calc(100vh - 66px);
  background-color: black;
  position: fixed;
  transition: ease-in-out 0.2s;
}
.menuOpened{
  margin-left: 0;
}
.menButton{
  line-height: 66px;
  width: 100%;
  height: 66px;
  color: white;
  font-size: 20px;
}