* {
  overflow-x: hidden;
}

.subTitle{

}

.profile{
  width: 100%;
  padding-bottom: 90px;
  min-height: 800px;
}

.title{
  margin-left: calc(50vw - 100px);
  padding-top: 80px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  font-size: 35px;
  font-family: "Trebuchet MS", serif;
}
.subTitle{
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin: 0;
  font-family: "Trebuchet MS";
}
.line{
  max-width: 80vw;
  width: 1000px;
  height: 2px;
  background-color: lightgray;
  margin: 70px auto;
}

.circleWrapper{
  width: 300px;
  height: 400px;
  display: inline-block;
}
.circle{

  margin-top: 50px;
  width: 300px;
  height: 300px;

  border-radius: 150px;
  background-size: cover;
  background-image: url("../../public/photo_2019-07-02_10-28-13.jpg");
}
.biography{
  line-height: 25px;
  font-family: "Trebuchet MS";
  font-size: 18px;
  padding-right: 70px;
  margin-top: 50px;
  text-align: left;
  display: inline-block;
  width: 230px;
  height: 350px;
}
.info{
  font-family: "Trebuchet MS";
  font-size: 18px;
  padding-left: 70px;
  display: inline-block;
  margin-top: 40px;
  width: 230px;
  height: 360px;
  text-align: left;

}
.innerTitle{
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.innerSubTitle{
  margin-bottom: 5px;
  color: black;
  font-size: 22px;
  font-weight: 600;
}
.phoneProfile{
  width: 100vw;
  height: auto;
}
.phoneBio{
  line-height: 25px;
  font-family: "Trebuchet MS";
  font-size: 18px;
  margin-left: 70px;
  margin-top: 20px;
  text-align: left;

  width: calc(100% - 110px);
  //height: 260px;
}
.phoneInfo{
  font-family: "Trebuchet MS";
  font-size: 18px;
  padding-left: 70px;
  width: 230px;
  height: 360px;
  text-align: left;
}
